<!-- add a todo -->
<div>
	<button ng-model="showAdd" ng-hide="showAdd"  ng-click="showHideAddBox(true)">Add New</button>
	<button ng-model="showAdd" ng-show="showAdd"  ng-click="showHideAddBox(false)">Close</button>
	<table class="table" ng-show="showAdd">
		<tr>
			<td>Todo</td>
			<td><input name="todo.name" ng-model="todo.name" placeholder="write todo name" required /></td>
		</tr>
		<tr>
			<td>Description</td>
			<td><textarea name="todo.description" ng-model="todo.description" placeholder="write description" required > </textarea></td>
		</tr>
		<tr>
			<td colspan="2">
				<button type="submit" ng-click="addTodo(todo)">Save</button>
			</td>
		</tr>
	</table>
</div>
<!-- view detail of a todo -->
<div ng-show="viewDetail">	
	<h2>Detail of {{todoDetail.name}}</h2>
	<p>{{todoDetail.description}}</p>
</div>

<hr>
<!-- todo list -->
<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="todo in todos">
			<td>{{todo.name}}</td>
			<td>{{todo.description}}</td>
			<td>
				<a ng-click="view(todo)" href="">View</a>  | <a ng-click="delete(todo)" href="">Delete</a> 
			</td>
		</tr>
	</table>
	
</div>
